/* layout */
* {
  font-family: "Pretendard";
  color: var(--font-color);
}

body {
  position: relative;
  height: 1000vh;
}

.inner {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .inner {
  padding: 15px 2rem;
  box-sizing: border-box;
}

header .gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .gnb .gnb-logo {
}
header .gnb .gnb-logo a {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--font-color-w);
}

header .gnb ul {
  display: flex;
  align-items: center;
}
header .gnb ul li {
  margin-right: 30px;
}
header .gnb ul li:last-child {
  margin-right: 0;
  border: 1px solid var(--font-color-w);
  border-radius: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
header .gnb ul li a {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--font-color-w);
}
header .gnb ul li:last-child a {
  display: block;
  padding: 15px 35px;
  background-color: transparent;
  transition: 0.2s;
}
header .gnb ul li:last-child a:hover {
  background-color: var(--font-color-w);
  color: var(--font-color);
  transition: 0.2s;
}

/* visual */
.visual {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--main-color);
}
.visual .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}

.visual h1 {
  margin: 0 auto;
  text-align: center;
  line-height: 1.1;
}
.visual h1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-w);
}
.visual h1 span.title {
  font-weight: 300;
  font-size: 9rem;
}
.visual h1 span.title-2 {
  font-weight: 400;
}

.visual h1 span strong {
  display: block;
}
.visual h1 span strong img {
  width: 240px;
  height: 100px;
  object-fit: cover;
  border-radius: 60px;
  overflow: hidden;
  margin: 0 2rem;
}
.visual p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.9rem;
  margin-top: 3%;
  margin-left: 30%;
  width: 25%;
  color: var(--font-color-w);
}

.visual .arrow-wrap {
  position: absolute;
  width: 70px;
  right: 20%;
  bottom: 5%;
  object-fit: contain;
  box-sizing: border-box;
  overflow: hidden;
  animation: scroll-down 1.8s infinite ease-out;
}
.visual .arrow-wrap img {
  width: 100%;
  height: 100%;
}

@keyframes scroll-down {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 5%;
  }
}

/* section 1 */
.sc1 {
  box-sizing: border-box;
}
.sc1 .inner {
}

.sc1 .my-pic {
  padding: 240px 0 80px;
  box-sizing: border-box;
}
.sc1 .my-pic strong {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 40px;
}
.sc1 .my-pic strong .hand {
  display: inline-block;
  animation: handyAni 0.6s infinite alternate;
  font-size: 2.2rem;
  margin-left: 3px;
}
@keyframes handyAni {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

.sc1 .my-pic .my-pic-area {
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
  margin: 0 auto;
}
.sc1 .my-pic .my-pic-area img {
  width: 100%;
  height: 100%;
}

.sc1 .my-info {
  margin: 0 auto;
}
.sc1 .my-info h2 {
  float: left;
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 7px 30px;
  margin-top: 5px;
  box-sizing: border-box;
}
.sc1 .my-info p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;
}

.accordion {
  margin: 80px auto 60px;
}
.accordion ul {
}
.accordion ul li {
}

.accordion ul li .acc-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  padding: 25px 30px;
  box-sizing: border-box;
  cursor: pointer;
  border-top: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
}
.accordion ul li .acc-title span {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.accordion ul li .acc-title span img {
  width: 100%;
  height: 100%;
}

.accordion ul li .acc-desc {
  padding: 40px 30px;
  box-sizing: border-box;
}
.accordion ul li .acc-desc p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #888;
}

.resume-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 200px;
}
.resume-btn-area button {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #001429;
  border: none;
  transform: rotate(-18deg);
  cursor: pointer;
  transition: 0.2s;
}
.resume-btn-area button:hover {
  transform: rotate(-18deg) scale(1.1);
  box-shadow: 5px 5px 12px rgba(0, 20, 41, 0.4);
}

.resume-btn-area button a {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--font-color-w);
}

/* section 2 */
.sc2 {
  border: 2px solid teal;
  box-sizing: border-box;
  background-color: var(--main-color);
  padding: 200px 0;
}
.sc2 .inner {
}

.traits-line-wrap {
}
.traits-line-wrap .traits-line {
}
.traits-line-wrap .line1 {
}
.traits-line-wrap .line2 {
}

.traits-line-wrap .traits-line span.trait {
  color: var(--font-color-w);
}

.h3-wrap {
  margin: 0 auto 100px;
}
.h3-wrap h3 {
  font-weight: 500;
  font-size: 9rem;
  line-height: 1;
  letter-spacing: 3px;
  color: var(--font-color-w);
}
.h3-wrap h3 span {
  display: block;
  color: var(--font-color-w);
  line-height: 1.1;
  margin-left: 260px;
}

ul.workList {
}
ul.workList li {
  display: flex;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}
ul.workList li.li-even {
  text-align: end;
}

ul.workList li a {
  display: inline-block;
  color: var(--font-color-w);
}

ul.workList li .img-box {
  width: 60%;
  height: 500px;
  object-fit: cover;
  padding: 40px;
  box-sizing: border-box;
}
ul.workList li .img-box a {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  overflow: hidden;
}
ul.workList li .img-box a img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
ul.workList li .img-box a:hover img {
  transform: scale(1.1);
}

ul.workList li .text-box {
  width: 40%;
  padding-bottom: 40px;
  box-sizing: border-box;
}
ul.workList li .text-box a {
  position: relative;
  display: inline-block;
  line-height: 1.2;
}
ul.workList li .text-box a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--font-color-w);
  transition: width 0.4s ease-in-out;
}
ul.workList li .text-box a:hover::after {
  width: 100%;
}

ul.workList li .text-box a em {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  background-color: var(--font-color-w);
  border-radius: 20px;
  padding: 6px 12px;
  box-sizing: border-box;
  margin-bottom: 2px;
}

ul.workList li .text-box a p {
  font-weight: 400;
  font-size: 3rem;
  color: var(--font-color-w);
  letter-spacing: 1px;
}
